#root {
  margin: 0 auto;
  text-align: center;
}

body {
  background-color: #f1f1f1;
  min-width: 350px;
}

html {
  scroll-behavior: smooth;
  transition: all 0.1s ease-in-out
}

@media only screen and (max-width: 48em) {
  html {
    font-size: 62.5%;
  }
}
